rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Cada pessoa autenticada só pode acessar as próprias ordens de serviço.
    match /users/{userId}/tickets/{ticketId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }

    match /users/{userId}/dailyEntries/{entryId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }
  }
}
